.message{
    background-color: #D8E8E3;
    padding: 50px 25%;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 40px;
}

p{
    line-height: 1.5em;
}
@media only screen and (max-width: 1159px) {
  .message{
      font-size: .8em;
      padding: 20px 10px;
  }
  
  }